<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="printerWithDateTime"
          class="edu.school21.spring.printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="rendererStandard"/>
    </bean>

    <bean id="printerWithPrefix"
          class="edu.school21.spring.printer.PrinterWithPrefixImpl">
        <constructor-arg ref="rendererStandard"/>
    </bean>

    <bean id="rendererStandard"
          class="edu.school21.spring.renderer.RendererStandardImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>

    <bean id="rendererErr"
          class="edu.school21.spring.renderer.RendererErrImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>

    <bean id="preProcessorToUpper"
          class="edu.school21.spring.preprocessor.PreProcessorToUpperImpl">
    </bean>

    <bean id="preProcessorToLower"
          class="edu.school21.spring.preprocessor.PreProcessorToLowerImpl">
    </bean>
</beans>

